.TokenSelection {
  padding: 1rem;
  &List {
    margin: 0 -1rem;
  }
  &Chips {
    display: flex;
    margin: 0.75rem 0 0;
    flex-wrap: wrap;
    span {
      margin-right: 0.75em;
    }
  }
  &Border {
    margin: 1rem -1rem;
    border: 0;
    height: 1px;
    background: var(--border-color-base);
  }
}
